

/* absolute position the video playback behind the drawover */
.video {
    position: relative;
}

.video-playback-controls {
    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 3; /* just so I can throw it above the video for now */
}


.video-sources {
    position: absolute;
    right: 0;
    top: 0;

    border: 1px solid #000;
}

.video-source-render {
    width: 400px;
    height: auto;
}


.video-source {
    position: relative;
}

.video-source-label {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
}
