
@import "theme";

.app {
    // background: #535E79;
    background: $dark-4;
    // background: red;
    font-family: sans-serif;

    color: $white;
}

// Layout composition of components
.draw {
    position: absolute;
    top: 0;
    left: 0;
}

.draw canvas {
    border: none;
}

.transform {
    position: relative;
}


.app {
    display: flex;
    height: 100vh;
    flex-direction: column;

    .app-canvas {
        flex-grow: 1;
        background: $dark-0;
        overflow: hidden;
    }
        
    .app-controls-row {
        display: flex;
        flex-direction: row;

        margin: 1rem;
    }
}

.time-slider {
    flex-grow: 1;
    
    // Margin between TimeSlider and Playback
    margin-right: $component-spacing;
}

.range-slider {
    flex-grow: 1;
}
