body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.time-slider {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.range-slider {
    display: flex;
    flex-direction: row;
    margin: 2rem;

    margin-top: 4rem;
}

.range-slider .noUi-target {
    flex: 1;
    margin: 0 2rem;
}


.time-slider .noUi-origin.is-off-timeline {
    display: none;
}

/* Temp scale style just so I can see it better while debugging */
.time-slider .noUi-value.noUi-value-large {
    font-size: 50%;
    line-height: 2.5;
}


/* mockup of slider styles (maya-ish) */

.range-slider .noUi-horizontal .noUi-handle-lower {
    box-shadow: none;
    border: none;
    background: red;

    top: 2px;
    right: -15px !important;

    width: 13px;
    height: 13px;
}

.range-slider .noUi-horizontal .noUi-handle-upper {
    box-shadow: none;
    border: none;
    background: red;

    top: 2px;
    right: 2px !important;

    width: 13px;
    height: 13px;
}

.noUi-horizontal .noUi-handle::before,
.noUi-horizontal .noUi-handle::after {
    content: none;
}

.time-slider .noUi-horizontal .noUi-handle {
    box-shadow: none;

    border: none;
    background: red;
    width: 5px;

    right: -3px !important;

    cursor: ew-resize;
}

.draw-temp {
    position: absolute;
    top: 0;
    left: 0;

    outline: none;
}

.draw-tools {
    border: 1px solid green;
    display: inline-block;

    position: absolute;
    right: 0;

    background: grey;

    padding: 0.5em;
}

.draw-tools {
    width: 12em;
    margin-top: -20px;
    margin-left: -25px;
}

.draw-tools ul {
    list-style: none;
    margin: 0;
    padding: 0;

    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.draw-tools li {
    display: inline;
    margin-right: 0.5em;
    white-space: nowrap;
}

.draw-line-width {
    width: 100%;
    margin: 0;
}

.draw-pen {
    height: 30px;
    width: 30px;

    border: 4px solid white;
    border-radius: 15px;
}

.draw-pen.is-active {

}

.draw-eraser,
.draw-clear,
.draw-undo,
.draw-redo {

}

.draw-history {
    list-style: none;
    margin: 0;
    padding: 1em;

    border: 1px solid green;
    background: grey;
    color: white;

    display: inline-block;

    max-height: 10em;
    overflow-y: scroll;
}

li.is-undone {
    color: #CCC;
}


/* Composite layout */

.draw {
    position: relative;
}

.draw canvas {
    border: none;
}

.transform {
    position: relative;
}
/*
.video video {
    display: none;
}
*/


/* absolute position the video playback behind the drawover */
.video {
    position: absolute;
    top: 0;
    left: 0;
}

.video-playback-controls {
    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 3; /* just so I can throw it above the video for now */
}


.time-slider-noui {
    position: relative;
    flex: 1 1;
}

.time-slider .noUi-target {
    border: none; /* no border  affects pixel layout */
}

/* Overlay on top of noUiSlider */
.time-slider-keys {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.time-slider-key {
    position: absolute;
    width: 2px;
    height: 15px;
    /*margin-left: -1px;*/

    /* width scales with the steps, with a minimum of 2px */
    min-width: 2px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.time-slider-key[data-type="cached-frame"] {
    background: #ccc;
}

.time-slider-key[data-type="draw-frame"] {
    background: #ff0000;

    /* indexed to ensure that it gets rendered over cached-frame keys
        since this takes priority from user's POV */
    z-index: 1;

    cursor: pointer;
}

.dropzone {
    position: relative;
}

.dropzone-overlay {
    display: none;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    text-align: center;

    background: rgba(0, 0, 0, 0.8);

    color: #FFF;
    font-size: 2rem;
}

.dropzone.is-active .dropzone-overlay {
    display: flex;
}
