
// Colors/fonts and whatnot

// Dark blues gradient
$dark-0: #20252e default;
$dark-1: #2a2e3b default;
$dark-2: #363b4a default;
$dark-3: #424a61 default;
$dark-4: #535e7a default;

// Greyscale
$dark-grey: #575c66 default;
$grey: #b0b4bd default;
$white: #ffffff default;

// Highlights
// TODO: Rename highlights to purpose over color?
$green: #37e89c default;
$blue: #6666ff default;
$yellow: #fed355 default;
