
.time-slider {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.time-slider .noUi-origin.is-off-timeline {
    display: none;
}

/* Temp scale style just so I can see it better while debugging */
.time-slider .noUi-value.noUi-value-large {
    font-size: 50%;
    line-height: 2.5;
}

.time-slider .noUi-horizontal .noUi-handle {
    box-shadow: none;

    border: none;
    background: red;
    width: 5px;

    right: -3px !important;

    cursor: ew-resize;
}


.time-slider-noui {
    position: relative;
    flex: 1 1;
}

.time-slider .noUi-target {
    border: none; /* no border  affects pixel layout */
}

/* Overlay on top of noUiSlider */
.time-slider-keys {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.time-slider-key {
    position: absolute;
    width: 2px;
    height: 15px;
    /*margin-left: -1px;*/

    /* width scales with the steps, with a minimum of 2px */
    min-width: 2px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.time-slider-key[data-type="cached-frame"] {
    background: #ccc;
}

.time-slider-key[data-type="draw-frame"] {
    background: #ff0000;

    /* indexed to ensure that it gets rendered over cached-frame keys
        since this takes priority from user's POV */
    z-index: 1;

    cursor: pointer;
}



// More dump from Chrome. TODO: Consolidate styles.


.time-slider {
    margin: 1rem;

    input {
        margin-left: 1rem;
    }
    
    .time-slider-noui {
        border: 1px solid #404a60;
    }

    .noUi-target {
        border: none;
        border-radius: 0;
        background: #2A2E3B;
        box-shadow: none;
        height: 32px;
    }

    .noUi-horizontal .noUi-origin {
        height: 100%;
    }

    .noUi-horizontal .noUi-handle {
        box-shadow: none;
        right: 0 !important;
        cursor: ew-resize;
        transform: translate(100%, 0);
        border-radius: 0;
        top: 0;
        height: 100%;
        min-width: 3px;
        background: rgba(79, 94, 123, 0.25);

        &:focus {
            outline: none;
        }
    }

    .noUi-pips {
        top: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    .noUi-marker  {
        background: #424A60;
        bottom: 0;
        height: 10px;
    }

    .noUi-value {
        color: #B0B4BD;
        font-size: 50%;
        transform: translate(2px, 0);

        // Add to z-index to render frame #'s over keys at all time
        z-index: 2;
    }

    .noUi-horizontal .noUi-tooltip {
        color: #fff;
        font-size: 0.75em;
        background: none;
        border: none;
        bottom: 0;
        left: 0;
        transform: none;
        padding: 0;
        padding-left: 0.5em;
    }
    
    .time-slider-key {
        height: 100%;
        box-sizing: border-box;
        border-right: none;
    }

    .time-slider-key[data-type="cached-frame"] {
    /*     background: #363B4A; */
        background: none;
    }
}
